page-register {

  ion-slides> {
    margin-top: 1.2em;
  }

  .gdpr {
    display: flex;
    flex-flow: row nowrap;
  }

  .gdpr-text {
    font-style: italic;
    font-size: 0.7em;
  }

  .mandatory {
    color: red;
    font-weight: bold;
  }

  .validator-error {
    color: red;
    font-size: .7em;
    font-style: italic;
    //padding-top: 8px;
    //padding-left: 16px;
  }

  .scroll-content {
    padding-bottom: 0 !important;
  }

}
