<ion-header>
  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button (click)="close()">Cancel</button>
    </ion-buttons>
    <ion-buttons right>
      <button ion-button [disabled]="saveDisabled" (click)="save()">Save</button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar>
    <ion-searchbar [(ngModel)]="query" [disabled]="searchDisabled" (ionInput)="searchPlace()"></ion-searchbar>
    <div *ngIf="spinner" class="spinner-container">
      <ion-spinner></ion-spinner>
    </div>
  </ion-toolbar>

  <ion-list>
    <ion-item *ngFor="let place of places" (tap)="selectPlace(place)">{{place.description}}</ion-item>
  </ion-list>

</ion-header>

<ion-content>

  <div #pleaseConnect id="please-connect">
    <p>Du bist offline. Bitte verbinde dich mit dem Internet...</p>
  </div>

  <div #map id="map">
    <ion-spinner></ion-spinner>
  </div>

</ion-content>
